body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  height: 100vh;
  font-family: "Montserrat", sans-serif;
  background-color: #e3e8f8;
}
@media only screen and (max-width: 900px) {
  body {
    height: fit-content;
  }
  .container {
    flex-direction: column;
  }
  .sidebar_con {
    width: 100% !important;
    padding: 0px !important;
    margin: 0px !important;
    overflow: hidden;
  }
  .sidebar {
    padding: 20px !important;
  }
  .sidebar h2 {
    margin: 0 !important;
    margin-bottom: 10px !important;
  }
  .sidebar p {
    margin: 0 !important;
  }

  .inner_con {
    padding: 0 !important;
  }

  .cards_con {
    flex-direction: column;
    align-items: center;
    padding: 0px !important;
  }
  .main_note_con {
    padding: 0px 20px !important;
    margin-bottom: 20px !important;
  }
  .create_element_con {
    margin: 20px 20px;
  }
}
#root {
  height: 100%;
}
.container {
  display: flex;
  align-items: center;
  height: 100%;
  justify-content: center;
}
.inner_con {
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: #e3e8f8;
  height: 100%;
  padding: 0px 30px;
}
.create_element_con {
  display: flex;
  flex-direction: column;
  height: 180px;
  padding: 46px;
  margin-top: 56px;
  background: #f5f5f5;
  box-shadow: 2px 4px 16px 0px rgba(32, 53, 98, 0.47);
  opacity: 0.8;
  border-radius: 16px;
  margin-bottom: 30px;
}
.create_element_con button {
  margin: 0;
  margin-bottom: 22px;
  color: #203562;
  width: 200px;
  font-size: 33px;
  font-weight: 600;
  line-height: 44px;
  font-style: normal;
  border: none;
  background-color: #f5f5f5;
  text-align: start;
  padding: 0;
  cursor: pointer;
}
.title {
  font-size: 32px;
  color: #203562;
  padding: 10px 0px;
  font-weight: 500;
  background-color: inherit;
  border: none;
}
.title::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: #203562;
}
.title::-moz-placeholder {
  /* Firefox 19+ */
  color: #203562;
}
.title:-ms-input-placeholder {
  /* IE 10+ */
  color: #203562;
}
.title:-moz-placeholder {
  /* Firefox 18- */
  color: #203562;
}
.title:focus {
  outline: none;
}
.body {
  font-size: 24px;
  color: #203562;
  padding: 10px 0px;
  font-weight: 500;
  background-color: inherit;
  border: none;
}
.body::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: #203562;
}
.body::-moz-placeholder {
  /* Firefox 19+ */
  color: #203562;
}
.body:-ms-input-placeholder {
  /* IE 10+ */
  color: #203562;
}
.body:-moz-placeholder {
  /* Firefox 18- */
  color: #203562;
}
.body:focus {
  outline: none;
}
.my_notes {
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 33.6px;
  margin: 0px;
  color: #203562;
  padding: 8px 0px;
}
.recent {
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 33.6px;
  margin: 0px;
  color: #2035627b;
  padding: 8px 0px;
}

.cards_con {
  display: flex;
  overflow-x: scroll;
  max-width: 1100px;
  gap: 10px;
  padding: 30px 20px;
}

.cards_con::-webkit-scrollbar {
  width: 12px;
  height: 10px;
}

.cards_con::-webkit-scrollbar-track {
  border-radius: 8px;
  background-color: #f5f5f5;
  border: 1px solid #21376646;
}

.cards_con::-webkit-scrollbar-thumb {
  border-radius: 8px;
  background-color: #203562;
}
.note {
  min-width: 230px;
  max-width: 230px;
  height: 160px;
  padding: 22px;
  border-radius: 16px;
  box-shadow: 2px 4px 16px 0px rgba(32, 53, 98, 0.47);
  background-color: #f5f5f5;
  text-overflow: ellipsis;
}
.note h2 {
  width: 100%;
  font-size: 17px;
  font-style: normal;
  font-weight: 600;
  line-height: 20.6px;
  margin: 0;
  color: #203562;
  word-break: break-all;
}
.selected {
  background-color: #ffffff;
  border: 1px solid #656565;
}

.note p {
  width: 100%;
  height: 100%;
  font-size: 12px;
  font-weight: 400;
  margin: 0;
  color: #303030;
  word-break: break-all;
}
.sidebar_con {
  width: 350px;
  height: 100%;
  background-color: #f5f5f5;
  padding: 0px 24px;
}
.sidebar {
  color: #203562;
}

.sidebar h2 {
  font-size: 40px;
  font-weight: 600;
  line-height: 33px;
  text-align: center;
  margin-bottom: 0px;
}
.sidebar p {
  margin: 0px;
  font-size: 24px;
  margin-top: 64px;
  font-weight: 500;
  font-style: normal;

  line-height: 33px;
  background-color: #203562;
  color: #f5f5f5;
  padding: 8px 16px;
  border-radius: 8px;
}
.clipborad {
  margin-right: 20px;
}
.title_div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 9px;
  max-width: 240px;
}
.delete {
  color: #20356285;
  cursor: pointer;
}
