body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  height: 100vh;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#root {
  height: 100vh;
}
.container {
  display: flex;
  height: 100%;
  gap: 10px;
  background-color: #e6e6e6;
}
.sidebar {
  width: 20%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 25px;
  background-color: #fff;
}
.sidebar ul {
  list-style: none;
  font-weight: 300;
  width: 100%;
  text-align: center;
  padding: 2px;
  overflow: hidden;
}
.selected {
  background-color: #563a94;
  color: #fff;
  width: 100%;
}
.editor_con {
  width: 100%;
  background-color: #d4d4d4;
  overflow: hidden;
}
.editor_con input {
  width: 100%;
  height: 100%;
  font-size: 20px;
}
